/* ---------------------------- */

/* ----------- Common ----------*/

/* ---------------------------- */

:root {
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    /* (Background) */
    --light-grayish-cyan: hsl(180, 52%, 96%);
    /* (Filter Tablets) */
    --lighter-grayish-cyan: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: var(--very-dark-grayish-cyan);
    height: 100%;
    width: 100%;
    background: var(--lighter-grayish-cyan);
}

.header {
    width: 100%;
    height: 156px;
    background: var(--desaturated-dark-cyan) url("./images/bg-header-desktop.svg") no-repeat;
}

.main {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto 100px;
    position: relative;
}

.filter, .card {
    border-radius: 5px;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

/* ---------------------------- */

/* ---------- Filter ---------- */

/* ---------------------------- */

.filter {
    height: 72px;
    align-items: center;
    padding: 0 40px;
    position: absolute;
    top: -35px;
}

.selectedCriteria {
    display: flex;
}

.clear {
    font-size: 12px;
    font-weight: 700;
    color: var( --dark-grayish-cyan);
    text-align: end;
}

.clear:hover {
    border-bottom: var(--desaturated-dark-cyan) solid 1px;
    color: var(--desaturated-dark-cyan);
    cursor: pointer;
}

/* ---------------------------- */

/* ----------- Card ----------- */

/* ---------------------------- */

.card {
    height: 152px;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 20px;
    align-items: center;
}

.cardsContainer {
    position: absolute;
    top: 80px;
    width: 100%;
}

.featuredCard {
    border-left: var(--desaturated-dark-cyan) solid 5px;
    padding-left: 35px;
}

.top {
    display: grid;
    grid-template-columns: 112px 1fr;
    grid-template-rows: 25px 1fr 20px;
    align-items: center;
}

.top img {
    width: 88px;
    height: 88px;
    grid-column: 1;
    grid-row: 1/4;
}

.cardHeader {
    display: flex;
    align-items: center;
}

.name, .smallCard {
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
}

.name {
    font-size: 14px;
}

.stamp {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    width: fit-content;
    padding: 8px 8px 4px;
    border-radius: 13px;
    font-weight: 700;
    text-align: center;
}

.new {
    background: var(--desaturated-dark-cyan);
    margin-left: 17px;
    margin-right: 8px;
}

.featured {
    background: var(--very-dark-grayish-cyan);
}

h3:hover {
    color: var(--desaturated-dark-cyan);
    cursor: pointer;
}

.sub {
    color: var( --dark-grayish-cyan);
    font-size: 15px;
}

.sub span {
    font-weight: 700;
    margin: 0 15px;
}

.bottom {
    display: flex;
    align-items: center;
}

.smallCardContainer {
    display: flex;
    margin-right: 16px;
    border-radius: 5px;
    background: var(--lighter-grayish-cyan);
}

.smallCard {
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    padding: 8px;
}

.bottom .smallCard:hover {
    color: white;
}

.bottom .smallCardContainer:hover {
    background: var(--desaturated-dark-cyan);
    cursor: pointer;
}

.remove {
    background: var(--desaturated-dark-cyan);
    width: auto;
    padding: 7px 9px;
    border-radius: 0 5px 5px 0;
}

.remove:hover {
    background: var(--very-dark-grayish-cyan);
    cursor: pointer;
}

@media only screen and (max-width: 1075px) {
    .main, .filter, .cardsContainer {
        position: unset;
    }
    .main {
        min-width: 500px;
    }
    .filter {
        height: fit-content;
        padding: 20px 20px 10px;
        margin: -30px 0 30px;
    }
    .selectedCriteria {
        flex-wrap: wrap;
    }
    .smallCardContainer {
        margin-bottom: 10px;
    }
    .cardsContainer {
        margin-top: 60px;
    }
    .card {
        height: 200px;
        flex-direction: column;
        padding: 25px;
        margin-bottom: 40px;
        align-items: start;
    }
    .featuredCard {
        padding-left: 20px;
    }
    .top {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 42px 22px 44px;
        align-items: center;
        width: 100%;
        margin-top: -50px;
    }
    .top img {
        width: 48px;
        height: 48px;
        grid-row: 1;
    }
    hr {
        border: 0;
        border-top: var( --dark-grayish-cyan) solid 0.8px;
        width: 100%;
        margin-bottom: 15px;
    }
    .bottom {
        flex-wrap: wrap;
        height: 80px;
    }
    .sub span {
        margin: 0 7px;
    }
}

@media only screen and (max-width: 550px) {
    .main {
        min-width: 328px;
    }
    .card {
        height: 260px;
    }
    .name {
        font-size: 13px;
    }
    h3 {
        font-size: 1em;
    }
    hr {
        margin-bottom: 0;
    }
    .bottom {
        align-content: end;
    }
    .sub {
        font-size: 13px;
    }
}